@font-face {
  font-family: 'pbsicon';
  src:
    url('fonts/pbsicon.ttf') format('truetype'),
    url('fonts/pbsicon.woff') format('woff'),
    url('fonts/pbsicon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pbsicon-"], [class*=" pbsicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pbsicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pbsicon-add-to-cal:before {
  content: "\e900";
}
.pbsicon-arrow:before {
  content: "\e901";
}
.pbsicon-calendar:before {
  content: "\e902";
}
.pbsicon-car:before {
  content: "\e903";
}
.pbsicon-caret:before {
  content: "\e904";
}
.pbsicon-chat:before {
  content: "\e905";
}
.pbsicon-checkmark:before {
  content: "\e906";
}
.pbsicon-clock:before {
  content: "\e907";
}
.pbsicon-contract:before {
  content: "\e908";
}
.pbsicon-expand:before {
  content: "\e909";
}
.pbsicon-gauge:before {
  content: "\e90a";
}
.pbsicon-location:before {
  content: "\e90b";
}
.pbsicon-search:before {
  content: "\e90c";
}
.pbsicon-settings:before {
  content: "\e90d";
}
.pbsicon-x:before {
  content: "\e90e";
}
