/*----------  libraries
------------------------------------------------------------------------------*/
/*----------  reset
------------------------------------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  display: inline;
  zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/*----------  base reset
------------------------------------------------------------------------------*/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: inherit;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

/*----------  links
------------------------------------------------------------------------------*/
a {
  text-decoration: none; }

a:focus, a:hover, a:active {
  outline: none; }

/*----------  typography
------------------------------------------------------------------------------*/
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 0; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*----------  lists
------------------------------------------------------------------------------*/
nav ul,
nav ol,
ul,
li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/*----------  Embedded content
------------------------------------------------------------------------------*/
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/*----------  forms
------------------------------------------------------------------------------*/
figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  width: 13px;
  height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

input, textarea, select {
  outline: none;
  border: none; }

/*----------  tables
------------------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/*----------  chrome frame prompt
------------------------------------------------------------------------------*/
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/*----------  clearfix
------------------------------------------------------------------------------*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/*----------  helpers
------------------------------------------------------------------------------*/
/*----------  variables
------------------------------------------------------------------------------*/
/*----------  mixins
------------------------------------------------------------------------------*/
/*----------  typography
------------------------------------------------------------------------------*/
/* @font-face {
  font-family: "SourceSansProLight";
  src: url('../afonts/SourceSansPro-Light-webfont.eot');
  src: url('../afonts/SourceSansPro-Light-webfont.eot?#iefix') format('eot'), url('../afonts/SourceSansPro-Light-webfont.ttf') format('truetype'), url('../afonts/SourceSansPro-Light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal; } */

/*----------  helpers
------------------------------------------------------------------------------*/
/*----------  ie fix
------------------------------------------------------------------------------*/
/*----------  media
------------------------------------------------------------------------------*/
/*----------  main
------------------------------------------------------------------------------*/
/*----------  buttons
------------------------------------------------------------------------------*/
.btn-add {
    position: absolute;
    right: 10px;
    bottom: -20px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #264E36;
    color: #000;
    text-align: center;
    box-shadow: 0px 3px 7px 0 rgba(48, 74, 90, 0.10);
    box-sizing: border-box;
}
.btn-add .pbscoicon-x {
    position: relative;
    display: block;
    transform: rotate(45deg);
    font-size: 13px;
    top: 14px;
    color: white;
}
.btn-add-smoothie {
    display: inline-block;
    border: 1px solid #264E36;
    background-color: #264E36;
    color: #fff;
    height: 36px;
    line-height: 36px;
    padding: 0 12px;
    border-radius: 18px;
    box-sizing: border-box;
}
/*----------  icons
------------------------------------------------------------------------------*/
/*----------  layout
------------------------------------------------------------------------------*/
html {
  width: 100%; }

body {
  width: 100%; }

.main-container {
  width: 100%;
  overflow: hidden;
  position: relative; }

.center-wrap {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/*----------  header
------------------------------------------------------------------------------*/
/*----------  footer
------------------------------------------------------------------------------*/
/*----------  styles
------------------------------------------------------------------------------*/
/*----------  navigation
------------------------------------------------------------------------------*/
.navbar-wrap {
    position: relative;
    background-color: #9B1B30;
    margin-bottom: 30px;
}
.navbar-wrap li {
    display: inline-block;
    margin-right: 10px;
}
.navbar-wrap h2 a {
    font-weight: bold;
    color: #fff;
}
/*----------  cards
------------------------------------------------------------------------------*/
.cards-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}
.cards-wrap h2 {
    margin-bottom: 20px;
    color: #5A3E36;
    font-weight: bold;
}
.cards-wrap .card {
    position: relative;
    background-color: #F5D6C6;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 3px 3px 7px 0 rgba(90, 62, 54, 0.30);
}
.ingredients-wrap li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.ingredients-wrap li:last-child {
    margin-right: 0;
}
.tag {
    display: block;
    box-sizing: border-box;
    padding: 0 12px;
    background-color: #F96714;
    height: 22px;
    line-height: 22px;
    border-radius: 10px;
    font-style: italic;
    font-size: 14px;
    box-shadow: 0px 3px 7px 0 rgba(48, 74, 90, 0.10);
    color: #fff;
}
.cards-wrap .pbscoicon-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
/*----------  add smoothie form
------------------------------------------------------------------------------*/
.add-smoothie h2 {
    margin-bottom: 30px;
    text-align: center
}
.add-smoothie-form-wrap {
    width: 60%;
    margin: 0 auto;
}
.add-smoothie-form-wrap ul {
    margin-bottom: 40px;
}
.add-smoothie-form-wrap li {
    margin-bottom: 30px;
}
.add-smoothie-form-wrap li:last-child {
    margin-bottom: 0;
}
.add-smoothie-form-wrap label {
    display: block;
}
.add-smoothie-form-wrap input {
    border-bottom: 1px solid #9B1B30;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}
.add-smoothie-form-wrap .btn-wrap {
    text-align: center;
}
.add-smoothie-form-wrap .feedback {
    color: #CE5B78;
    text-align: center;
    margin-bottom: 20px;
}